In [24]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [25]:
svi = pd.read_csv('data/2018SVI.csv')
svi.drop([0],inplace=True)
svi.head()

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
1,1,ALABAMA,AL,Autauga,1001,"Autauga County, Alabama",594.443459,55200,0,23315,...,0,0,0,0,0,3875,508,7.1,0.9,37301
2,1,ALABAMA,AL,Blount,1009,"Blount County, Alabama",644.830460,57645,0,24222,...,0,0,0,0,0,6303,732,11.0,1.3,40036
3,1,ALABAMA,AL,Butler,1013,"Butler County, Alabama",776.838201,20025,0,10026,...,0,0,0,0,0,2005,340,10.2,1.7,17280
4,1,ALABAMA,AL,Calhoun,1015,"Calhoun County, Alabama",605.867251,115098,0,53682,...,0,0,0,0,0,10686,796,9.4,0.7,117894
5,1,ALABAMA,AL,Chambers,1017,"Chambers County, Alabama",596.560643,33826,0,16981,...,0,0,0,0,0,3613,476,10.8,1.4,27176

In [26]:
diabetes = pd.read_csv('data/2018diabetes.csv')
nd = pd.read_csv('data/2018newdiabetes.csv')
obe = pd.read_csv('data/2018obesity.csv')
phys = pd.read_csv('data/2018physicalinactivity.csv')
diabetes.head()

,Year,County_FIPS,County,State,Diagnosed Diabetes Percentage,Below Poverty,Unnamed: 6
0,2018,1001,Autauga County,Alabama,9.5,0.5401,NaN
1,2018,1003,Baldwin County,Alabama,8.4,0.2239,NaN
2,2018,1005,Barbour County,Alabama,13.5,0.9631,NaN
3,2018,1007,Bibb County,Alabama,10.2,0.4430,NaN
4,2018,1009,Blount County,Alabama,10.5,0.4723,NaN

In [27]:
nd.head()

,Year,County_FIPS,County,State,Newly Diagnosed Diabetes Rate per 1000,Overall SVI,Unnamed: 6
0,2018,1001,Autauga County,Alabama,6.6,0.4354,NaN
1,2018,1003,Baldwin County,Alabama,5.5,0.2162,NaN
2,2018,1005,Barbour County,Alabama,10.1,0.9959,NaN
3,2018,1007,Bibb County,Alabama,7.6,0.6003,NaN
4,2018,1009,Blount County,Alabama,7.5,0.4242,NaN

In [28]:
obe.head()

,Year,County_FIPS,County,State,Obesity Percentage,Overall SVI,Unnamed: 6
0,2018,1001,Autauga County,Alabama,29.6,0.4354,NaN
1,2018,1003,Baldwin County,Alabama,28.3,0.2162,NaN
2,2018,1005,Barbour County,Alabama,29.3,0.9959,NaN
3,2018,1007,Bibb County,Alabama,23.1,0.6003,NaN
4,2018,1009,Blount County,Alabama,27.8,0.4242,NaN

In [29]:
phys.head()

,Year,County_FIPS,County,State,Physical Inactivity Percentage,Overall SVI,Unnamed: 6
0,2018,1001,Autauga County,Alabama,23.8,0.4354,NaN
1,2018,1003,Baldwin County,Alabama,22,0.2162,NaN
2,2018,1005,Barbour County,Alabama,23.2,0.9959,NaN
3,2018,1007,Bibb County,Alabama,23,0.6003,NaN
4,2018,1009,Blount County,Alabama,24.7,0.4242,NaN

In [30]:
for DF in [diabetes,nd,obe,phys]:

    mask = DF['State']=='s County'
    DF.loc[mask,'County'] = DF.loc[mask,'County'].str.slice(stop=-4)+"'s"
    DF.loc[mask,'State'] = 'Maryland'
    DF.loc[mask,DF.columns[4]] = DF.loc[mask,DF.columns[5]]
    DF.loc[mask,DF.columns[5]] = DF.loc[mask,DF.columns[6]]

    mask = DF['State']=='brien County'
    DF.loc[mask,'County'] = DF.loc[mask,'County'].str.slice(stop=-4)+ "'Brien County"
    DF.loc[mask,'State'] = 'Iowa'
    DF.loc[mask,DF.columns[4]] = DF.loc[mask,DF.columns[5]]
    DF.loc[mask,DF.columns[5]] = DF.loc[mask,DF.columns[6]]

    mask = DF['County']=='Prince of Wales-Hyder Censu'
    DF.loc[mask,'County'] = 'Prince of Wales-Hyder'

    DF.drop(columns='Unnamed: 6',inplace=True)
    
diabetes = pd.merge(left=diabetes, right=nd, on=['State','County'], how='inner')
diabetes = pd.merge(left=diabetes, right=obe, on=['State','County'], how='inner')
diabetes = pd.merge(left=diabetes, right=phys, on=['State','County'], how='inner')
diabetes = diabetes[['County','State','Diagnosed Diabetes Percentage','Newly Diagnosed Diabetes Rate per 1000','Obesity Percentage','Physical Inactivity Percentage']]

In [31]:
for column in ['Diagnosed Diabetes Percentage','Newly Diagnosed Diabetes Rate per 1000','Obesity Percentage','Physical Inactivity Percentage']:
    diabetes[column] = diabetes[column].astype('float')

,County,State,Diagnosed Diabetes Percentage,Newly Diagnosed Diabetes Rate per 1000,Obesity Percentage,Physical Inactivity Percentage
0,Autauga County,Alabama,9.5,6.6,29.6,23.8
1,Baldwin County,Alabama,8.4,5.5,28.3,22
2,Barbour County,Alabama,13.5,10.1,29.3,23.2
3,Bibb County,Alabama,10.2,7.6,23.1,23
4,Blount County,Alabama,10.5,7.5,27.8,24.7
...,...,...,...,...,...,...
3136,Sweetwater County,Wyoming,7.8,5.2,31,23.2
3137,Teton County,Wyoming,3.8,2.5,10.5,10.7
3138,Uinta County,Wyoming,8.4,5.9,33.2,23.1
3139,Washakie County,Wyoming,7.4,5.2,25.4,20.2
3140,Weston County,Wyoming,7.6,5.2,32,21.8

In [7]:
demo = pd.read_csv('data/cc-est2019-alldata.csv')
demo = demo[demo['YEAR'] == 11]
demo = demo[demo['AGEGRP'] == 0]
demo = demo[demo['CTYNAME']!='Rio Arriba County']
demo.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
190,50,1,1,Alabama,Autauga County,11,0,55533,27006,28527,...,764,672,90,75,39,32,20,16,19,13
418,50,1,3,Alabama,Baldwin County,11,0,217855,105702,112153,...,4970,4473,263,263,258,186,62,56,50,31
646,50,1,5,Alabama,Barbour County,11,0,24872,13148,11724,...,484,402,59,47,63,25,3,1,13,8
874,50,1,7,Alabama,Bibb County,11,0,22367,11900,10467,...,290,235,30,14,7,13,2,0,18,3
1102,50,1,9,Alabama,Blount County,11,0,57771,28435,29336,...,2754,2446,80,58,58,67,16,18,30,20

In [8]:
diabetes

,County,State,Diagnosed Diabetes Percentage,Newly Diagnosed Diabetes Rate per 1000,Obesity Percentage
0,Autauga County,Alabama,9.5,6.6,29.6
1,Baldwin County,Alabama,8.4,5.5,28.3
2,Barbour County,Alabama,13.5,10.1,29.3
3,Bibb County,Alabama,10.2,7.6,23.1
4,Blount County,Alabama,10.5,7.5,27.8
...,...,...,...,...,...
3136,Sweetwater County,Wyoming,7.8,5.2,31
3137,Teton County,Wyoming,3.8,2.5,10.5
3138,Uinta County,Wyoming,8.4,5.9,33.2
3139,Washakie County,Wyoming,7.4,5.2,25.4
3140,Weston County,Wyoming,7.6,5.2,32

In [9]:
headers = []
cats = demo.columns[10:]
for cat in cats:
    if 'FEMALE' in cat:
        headers.append(cat[:-6])
for header in headers:
    demo[f'{header}TOT'] = demo[f'{header}MALE'] + demo[f'{header}FEMALE']
    demo[f'{header}PCT'] = round(demo[f'{header}TOT']/demo['TOT_POP']*100,2)




for row in range(len(demo)):
    if demo.iloc[row,4][-6:] == 'County':
        demo.iloc[row,4] = demo.iloc[row,4][:-7]
    elif demo.iloc[row,4][-11:] == 'Census Area':
        demo.iloc[row,4] = demo.iloc[row,4][:-12]
    elif demo.iloc[row,4][-12:] == ' and Borough':
        demo.iloc[row,4] = demo.iloc[row,4]
    elif demo.iloc[row,4][-7:] == 'Borough':
        demo.iloc[row,4] = demo.iloc[row,4][:-8]
    elif demo.iloc[row,4][-6:] == 'Parish':
        demo.iloc[row,4] = demo.iloc[row,4][:-7]
    elif demo.iloc[row,4][-12:] == 'Municipality':
        demo.iloc[row,4] = demo.iloc[row,4][:-13]
        
for row in range(len(diabetes)):
    if diabetes.iloc[row,0][-6:] == 'County':
        diabetes.iloc[row,0] = diabetes.iloc[row,0][:-7]
    elif diabetes.iloc[row,0][-11:] == 'Census Area':
        diabetes.iloc[row,0] = diabetes.iloc[row,0][:-12]
    elif diabetes.iloc[row,0][-12:] == ' and Borough':
        diabetes.iloc[row,0] = diabetes.iloc[row,0]
    elif diabetes.iloc[row,0][-7:] == 'Borough':
        diabetes.iloc[row,0] = diabetes.iloc[row,0][:-8]
    elif diabetes.iloc[row,0][-6:] == 'Parish':
        diabetes.iloc[row,0] = diabetes.iloc[row,0][:-7]
    elif diabetes.iloc[row,0][-12:] == 'Municipality':
        diabetes.iloc[row,0] = diabetes.iloc[row,0][:-13]
        
demo.loc[411046,'CTYNAME'] = 'DoÃ±a Ana'

demo.rename(columns={"CTYNAME": "County", "STNAME": "State"},inplace=True)

svi['State']=svi['STATE'].str.lower().values
svi.drop(columns = ['STATE'],inplace=True)
svi.rename(columns={'COUNTY':'County'},inplace=True)
svi['County']=svi['County'].str.lower()

demo['County']=demo['County'].str.lower()
demo['State']=demo['State'].str.lower()

diabetes['County']=diabetes['County'].str.lower()
diabetes['State']=diabetes['State'].str.lower()

demo.set_index(['State', 'County'],inplace=True)
diabetes.set_index(['State', 'County'],inplace=True)
svi.set_index(['State', 'County'],inplace=True)

In [13]:
df = diabetes.join(demo,how='inner').join(svi,how='inner')

In [14]:
df

                   Diagnosed Diabetes Percentage  \
State   County
alabama autauga                              9.5
        baldwin                              8.4
        barbour                             13.5
        bibb                                10.2
        blount                              10.5
...                                          ...
wyoming sweetwater                           7.8
        teton                                3.8
        uinta                                8.4
        washakie                             7.4
        weston                               7.6

                   Newly Diagnosed Diabetes Rate per 1000 Obesity Percentage  \
State   County
alabama autauga                                       6.6               29.6
        baldwin                                       5.5               28.3
        barbour                                      10.1               29.3
        bibb                                          7.6               23.1
        blount                                        7.5               27.8
...                                                   ...                ...
wyoming sweetwater                                    5.2                 31
        teton                                         2.5               10.5
        uinta                                         5.9               33.2
        washakie                                      5.2               25.4
        weston                                        5.2                 32

                    SUMLEV  STATE  COUNTY  YEAR  AGEGRP  TOT_POP  TOT_MALE  \
State   County
alabama autauga         50      1       1    11       0    55533     27006
        baldwin         50      1       3    11       0   217855    105702
        barbour         50      1       5    11       0    24872     13148
        bibb            50      1       7    11       0    22367     11900
        blount          50      1       9    11       0    57771     28435
...                    ...    ...     ...   ...     ...      ...       ...
wyoming sweetwater      50     56      37    11       0    42858     22053
        teton           50     56      39    11       0    23269     12023
        uinta           50     56      41    11       0    20292     10301
        washakie        50     56      43    11       0     7877      3984
        weston          50     56      45    11       0     6924      3627

                    ...  F_CROWD  F_NOVEH  F_GROUPQ  F_THEME4  F_TOTAL  \
State   County      ...
alabama autauga     ...        0        0         0         0        0
        baldwin     ...        0        0         0         1        1
        barbour     ...        0        0         1         2        8
        bibb        ...        0        0         1         2        2
        blount      ...        0        0         0         0        0
...                 ...      ...      ...       ...       ...      ...
wyoming sweetwater  ...        0        0         0         0        1
        teton       ...        1        0         0         1        2
        uinta       ...        0        0         0         0        1
        washakie    ...        0        0         0         0        0
        weston      ...        0        0         0         0        0

                    E_UNINSUR  M_UNINSUR  EP_UNINSUR  MP_UNINSUR  E_DAYPOP
State   County
alabama autauga          3875        508         7.1         0.9     37301
        baldwin         20864       1646        10.2         0.8    195677
        barbour          2558        363        11.2         1.6     25052
        bibb             1619        396         7.9         1.9     17696
        blount           6303        732        11.0         1.3     40036
...                       ...        ...         ...         ...       ...
wyoming sweetwater       5240        794        12.0         1.8     45734
        teton            2305        603        10.0         2.6     29426
        uinta            2499        452        12.2         2.2     19734
        washakie         1223        245        15.4         3.1      7859
        weston            898        215        13.3         3.2      5576

[3141 rows x 272 columns]